body {
    margin: 0;
    background-color: #300e36;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
}

.content__section {
    min-height: 100vh;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
